<div clas = "container">
    <div class = "card">
        <h3 class="text-center"> All Tickets </h3>
        <div class = "card-body">
            <table class = "table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>empId</th>
                    <th>Submitted</th>
                    <th>Updated</th>
                    <th>Note</th>
                    <th>View</th>
                </thead>
                <tbody>
                    <!-- *ngFor directive-->
                    <tr *ngFor = "let ticket of tickets">
                        <td>{{ ticket.ticket_id }}</td>
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.ticketType }}</td>
                        <td>{{ ticket.amount | currency}}</td>
                        <td>{{ ticket.employee_id}}</td>
                        <td>{{ ticket.dateMade | date }}</td>
                        <td>{{ ticket.dateResolved | date }}</td>
                        <td>{{ ticket.note }}</td>
                        <dt><a routerLink="{{ticket.ticket_id}}" routerLinkActive="active-link">Details</a></dt>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
